<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="#">
              <span data-feather="home"></span>
              <%= link_to 'ホーム', posts_path %>
              <span class="sr-only">(current)</span>
            </a>
          </li>
        </ul>
      </nav>


      <%= form_with model: @post, local: true do |form| %>

      <% if @post.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@post.errors.count, "つのエラーがあります。") %>
        </h2>
        <ul>
          <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
      <% end %>

      <div class="container-fluid ">
        <div class="field">
          <%= form.label :title, class: "control-label" %>
          <%= form.text_field :title, class: "form-control" %>
        </div>
        <br />
        <div class="field">
          <%= form.label :context, class: "control-label" %>
          <%= form.text_area :context, class: "form-control" %>
        </div>

        <br />
        <div class="actions">
          <%= form.submit "投稿する", class: "btn btn-lg btn-primary" %>
        </div>
        <% end %>
      </div>

    </div>
  </div>
