<%= render 'layouts/top'%>

<div class="container">
  <div class="row">
    <div class="col-md-8">

      <h1 class="my-4">Page Heading
        <small><%= link_to '投稿する' , new_post_path %></small>
      </h1>

      <% @posts.each do |post|%>
        <div class="card mb-4">
          <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
          <div class="card-body">
            <h2 class="card-title"><%= post.title %></h2>
            <p class="card-text"><%= post.context %></p>
            <%= link_to '詳細', post_path(post) %>
            <%= link_to '編集', edit_post_path(post) %>
            <%= link_to '削除', post_path(post),
                    method: :delete,
                    data: { confirm: '削除しますか？'} %>
          </div>
          <div class="card-footer text-muted">
            Posted on January 1, 2017 by
            <a href="#">Start Bootstrap</a>
          </div>
        </div>
      <% end %>

      <ul class="pagination justify-content-center mb-4">
        <li class="page-item">
          <a class="page-link" href="#">&larr; Older</a>
        </li>
        <li class="page-item disabled">
          <a class="page-link" href="#">Newer &rarr;</a>
        </li>
      </ul>

    </div>
    <%= render 'layouts/side' %>
  </div>
</div>

<%= render 'layouts/footer' %>



  
