<%= render 'layouts/top'%>

<div class="container">
  <div class="row">
    <div class="col-md-12">

      <h1>投稿一覧</h1>
      <% if !current_user.nil? and current_user.admin? %>
        <h1><%= link_to '新規投稿' , new_post_path %></h1>
      <% end %>
      <% @posts.each do |post|%>
        <div class="card mb-4">
          
          <div class="card-body">
            <h2 class="card-title"><%= post.title %></h2>
            <p class="card-text"><%= post.context %></p>
            <% if post.image? %>
              <p><%= image_tag post.image.url %></p>
            <% end %>
            <%= link_to '詳細', post_path(post) %>
            <% if !current_user.nil? and current_user.admin? %>
              <%= link_to '編集', edit_post_path(post) %>
              <%= button_to '削除', post_path(post),
                      method: :delete,
                      data: { confirm: '削除しますか？'} %>
            <% end %>

          </div>
          <div class="card-footer text-muted">
            作成日時: <%= post.created_at %>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>

<%= render 'layouts/footer' %>



  
