<div class="container-fluid">
  <h1>新しい投稿</h1>
  <%= form_with model: @post, local: true do |form| %>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="field">
        <%= form.label :title, class: "control-label" %>
        <%= form.text_field :title, class: "form-control" %>
      </div>
      <br/>
      <div class="field">
        <%= form.label :context, class: "control-label" %>
        <%= form.text_area :context, class: "form-control" %>
      </div>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-md-3 col-md-offset-3">
      <div class="actions">
        <%= form.submit "投稿する", class: "btn btn-lg btn-primary" %>
      </div>
    </div>
  </div>  
  <% end %>
  <br/>
  <%= link_to 'ホーム', posts_path %>
</div>


