<%= render 'layouts/top' %>

<div class="container">
  <div class="row">
    <div class="col-lg-12">

      <h1><%= @post.title %></h1>
      <hr>
      <p><%= @post.created_at %></p>
      <hr>
      <p><%= @post.context %></p>
      <hr>

    </div>
  </div>
</div>

<%= render 'layouts/footer'%>
