<%= render 'layouts/top' %>

<div class="container">
  <div class="row">
    <div class="col-lg-12">

      <h1><%= @post.title %></h1>
      <hr>
      <p><%= @post.created_at %></p>
      <hr>
      <p><%= @post.context %></p>
      <hr>
      <% if @post.image? %>
        <p><%= image_tag @post.image.url %></p>
      <% end %>
    </div>
  </div>
</div>

<%= render 'layouts/footer'%>
