<%= render 'layouts/top' %>
<section  style="background-image: url(<%= asset_path('01.jpg') %>);">
<div class="container u-overlay__inner">
  <div class="row">
    <div class="col-lg-12">
      <div style="height:70px;"></div>
        <div class="card mb-4">  
          <div class="card-body">
            <h2 class="card-title"><%= @post.title %></h2>
            <hr>
            <p class="card-text"><%= @post.context %></p>
            <% if @post.image? %>
              <p><%= image_tag @post.image.url %></p>
            <% end %>
          </div>
          <div class="card-footer text-muted">
              作成日時: <%= @post.created_at %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'layouts/footer'%>
