<%= render 'layouts/top'%>

<div class="container">
  <div class="row">
    <div class="col-md-12">

      <h1>ユーザー一覧</h1>
      <h1><%= link_to '新規登録' , new_admin_user_path %></h1>

      <% @users.each do |user|%>
        <div class="card mb-4">
          <div class="card-body">
            <h2 class="card-title">ユーザ名: <%= user.name %></h2>
            <p class="card-text">メール: <%= user.email %></p>
            <p class="card-text">管理者権限: <%= user.admin %></p>
            <%= link_to '詳細', [:admin, user] %>
            <% if current_user.admin? %>
              <%= link_to '編集', edit_admin_user_path(user) %>
              <%= button_to '削除', [:admin, user],
                      method: :delete,
                      data: { confirm: '削除しますか？'} %>
            <% end %>
          </div>
          <div class="card-footer text-muted">
            作成日時: <%= user.created_at %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%= render 'layouts/footer' %>