<h1>Admin::Users#show</h1>
<p>Find me in app/views/admin/users/show.html.erb</p>

        <div class="card mb-4">
          <div class="card-body">
            <h2 class="card-title"><%= @user.name %></h2>
            <p class="card-text"><%= @user.email %></p>
            <p class="card-text"><%= @user.admin %></p>
            <p class="card-text"><%= @user.email %></p>
            <%= link_to '編集', edit_admin_user_path(@user) %>
            <%= link_to '削除', [:admin, @user],
                    method: :delete,
                    data: { confirm: '削除しますか？'} %>
            <%= link_to '一覧' , admin_users_path %>
          </div>
          <div class="card-footer text-muted">
            Posted on January 1, 2017 by
            <a href="#">Start Bootstrap</a>
          </div>
        </div>