<nav class="js-navbar-scroll navbar fixed-top navbar-expand-lg navbar-dark" data-turbolinks="false">
  <div class="container-fluid">
    <%= link_to 'Blog On Rails', root_path, class: "navbar-brand" %>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo">
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item mr-4 mb-2 mb-lg-0">
          <%= link_to 'ホーム', root_path, class: "nav-link" %>
        </li>
        <li class="nav-item mr-4 mb-2 mb-lg-0">
          <%= link_to '投稿一覧', posts_path, class: "nav-link" %>
        </li>
        <% if current_user %>
          <% if current_user.admin? %>
          <li class="nav-item mr-4 mb-2 mb-lg-0">
            <%= link_to 'ユーザー一覧', admin_users_path, class: "nav-link" %>
          </li>
        </ul>
        <div>
          <%= button_to 'ログアウト', logout_path, method: :delete, class: "logout" %>
        </div>
          <% end %>
        <% end %>
    </div>
  </div>
</nav>