<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <% if current_user %>
      <%= link_to '投稿一覧', posts_path %>
        <% if current_user.admin? %>
        <%= link_to 'ユーザー一覧', admin_users_path %>
        <% end %>
      <%= link_to 'ログアウト', logout_path, method: :delete %>
      <% else %>
      <%= link_to 'ログイン', login_path %>
    <% end %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
